<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INCancelWorkoutIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Cancel my workout with Iron</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INEndWorkoutIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Finish my workout with Iron</string>
				<string>End my workout with Iron</string>
				<string>Stop my workout with Iron</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INStartWorkoutIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Start a workout with Iron</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
